<div class="navbar ..."
  data-controller="navbar"
  data-action="scroll@window->navbar#updateNavbar">
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light"
  <div class="container-fluid">
    <%= link_to "Lessons", root_path, class: "navbar-brand" %>

    <% unless controller_name == "sessions"  %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="ms-auto flex">
          <form class="flex my-2 my-lg-0">
            <input class="form-control me-2" name="query" type="search" placeholder="Search" aria-label="Search" value="<%= params[:query] %>">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>

          <% if current_user %>
            <%= button_to "logout", destroy_user_session_path, method: :delete  %>
          <% end %>

        </div>
    <% end %>
    </div>
  </div>
</nav>
