<div class= "container p-3">
  <h1 class="mb-3 text-align-center">My Bookings</h1>
    <div class="card">
      <div class="card-body p-3">
        <% unless @student_bookings.empty? %>
          <% @student_bookings.each do |booking| %>
            <%= render 'booking_card', booking: booking %>
          <% end %>
        <% else %>
          <h5 class="mt-3 p-2">No lesson requested</h5>
        <% end %>
      </div>
    </div>
</div>
