<div class= "container p-3">
  <div class="d-flex justify-content-between m-3">
    <h1 class="text-align-center">My Lessons</h1>
    <%= link_to "Create a lesson", new_lesson_path, class:"m-2 btn btn-success"  %>
  </div>
  <div class= "card">
    <div class="card-body p-3">
      <% unless @mylessons.empty? %>
        <% @mylessons.each do |lesson| %>
          <%= render "pages/lesson_card", lesson: lesson, bookings: @bookings %>
        <% end %>
      <% else %>
        <h5 class="mt-3 p-2">No lessons created yet!</h5>
      <% end %>
    </div>
  </div>
</div>
