<div bg-image="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png); height: 100vh;">
  <div class="container">
    <h1>Pétit <strong>Scarabée</strong> for <strong>curious people</strong>!</h1>
    <p>
      <span data-controller="typed-js"></span>
    </p>
    <a class="btn btn-primary btn-lg" href="https://petit-scarabee.herokuapp.com/users/sign_up">Sign Up</a>
  </div>
</div>
<%= link_to "Lessons", lessons_path, class: "btn btn-dark btn-lg" %>
<%= link_to "Dashboard", dashboard_path, class: "btn btn-dark btn-lg" %>
