.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.index-map {
  width: 30%;
  height: 80vh;
  position: sticky;
  top: 0px;
  margin-right: 20px;
  position: relative;
}

.show-map {
  width: 93%;
  height: 72vh;}
